<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidong.mapper.DepartmentMapper" >



    <select id="select" resultType="string">
        select dept_name from yd_department where dept_id =#{dept_id}
    </select>
</mapper>